.sector1-m, .sector1-p{
    padding: 5% 15%;
    text-align: center;

    .content-ma, .content-pe{
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;

        .card-ma, .card-p{
            border: 2px solid pink;
            border-radius: 5%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img{
                width: 100%;
            }

            & spa{
                font-size: 1rem;
                padding: 1.5rem 1rem;
            }
        }
    }
}

