.sector1-m, .sector1-p{
    padding: 5% 15%;
    text-align: center;

    .content-ma, .content-pe{
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;

        .card-ma, .card-p{
            border: 2px solid pink;
            border-radius: 5%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img{
                width: 100%;
            }

            & spa{
                font-size: 1rem;
                padding: 1.5rem 1rem;
            }
        }
    }
}

/*
 Update 31/12/2023 01:05
*/

.cards-descuento{
    position: relative;

    & img:nth-child(1){
        z-index: 1;
        transform: rotateY(360deg);
    }

    & img:nth-child(2){  
        position: absolute;
        left: 0;
        z-index: 2;
    }
}
.cards-descuento:hover{

    & img:nth-child(1){
        animation: card_rotate2 4s linear;
        z-index: 2;
    }

    & img:nth-child(2){
        animation: card_rotate 4s linear;
        z-index: 1;
    }
}

@keyframes card_rotate {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        opacity: 0%;
    }
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes card_rotate2 {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}